.Forecast .forecast-block {
  display: inline-block;
  text-align: center;
  line-height: 0.75;
  padding: 4px 12px;
  background: rgba(238, 210, 197, 0.6);
  border: 1px solid rgb(238, 210, 197);
  border-radius: 10px;
}
.Forecast .forecast-header {
  text-align: center;
  font-family: 'Arima', cursive;
  color: whitesmoke;
  text-shadow: 1px 2px 1px #08310d;
}
.forecast-day {
  font-family: 'Arima', cursive;
  color: #8f140e;
  text-shadow: 1px 2px 1px rgb(238, 210, 197);
}
.forecast-tmp {
  font-size: 18px;
  color: #8f140e;
}
